.city-saved
  background: var(--city-saved-color)
  position: relative
  width: 100vw
  height: 100vh
  overflow: hidden
  color: var(--text-color)
  padding-bottom: 71px
  & .container
    padding-left: 8%
    padding-right: 8%
  & .search-block
    margin-top: 66px
    margin-bottom: 32px
    display: flex
    align-items: center
    justify-content: space-between
    &>input
      outlineL none
      background: transparent
      border: none
      width: 80%
      &::placeholder
        color: var(--serach-color)
  & .cities-wrapper
    margin: auto
    width: min-content
    display: grid
    grid-template-columns: repeat(2 , 150px)
    grid-auto-rows: 150px
    grid-gap: 15px
  & .city-block
    padding: 15px
    position: relative
    background: var(--city-block-color)
    border-radius: 17.3077px
    display: flex
    flex-direction: column
    justify-content: space-between
    &.editable::after
      content: '×'
      color: var(--icon-active-color)
      position: absolute
      right: 0
      top: 0
      width: 25px
      height: 25px
      display: flex
      align-items: center
      justify-content: center
      font-weight: 700
      font-size: 25px
      line-height: 100%
    &>div:first-child
      display: flex
      justify-content: space-between
      &>h3
        font-size: 34px
        line-height: 41px
        margin: 0
    &>div:nth-child(2)
      display: flex
      flex-direction: column
      &>span:first-child
        font-size: 14px
        line-height: 17px
      &>span:last-child
        font-size: 12px
        line-height: 14px
        color: var(--country-color)
    &>div:last-child
      display: flex
      align-items: center
      justify-content: space-between
      &>div
        display: flex
        align-items: center
        justify-content: space-between
        & span
          margin-left: 2px
          font-weight: 600
          font-size: 12px
          line-height: 14px

@media (max-width: 374px)
  .city-saved
    & .cities-wrapper
      grid-template-columns: repeat(1 , 100%)

@media (min-width: 480px)
  .city-saved
    & .cities-wrapper
      grid-template-columns: repeat(2 , 1fr)

@media (min-width: 560px)
  .city-saved
    & .cities-wrapper
      grid-template-columns: repeat(3 , 1fr)

@media (min-width: 768px)
  .city-saved
    & .container
      padding-left: 20% !important
      padding-right: 20% !important
    & .cities-wrapper
      grid-template-columns: repeat(3 , 1fr)

@media (min-width: 990px)
  .city-saved
    & span
      font-size: 15px !important
    & .cities-wrapper
      grid-template-columns: repeat(3 , 200px)
      grid-auto-rows: 200px
      & .city-block
        &>div:first-child img
          height: 70px
        & div:nth-child(2)
          height: 30%
          justify-content: space-around
