:root
  --main-color: linear-gradient(180deg, rgba(8, 27, 37, 0.82) 0%, rgba(8, 27, 37, 0.956703) 43.3%, rgba(8, 27, 37, 0.9) 100%)
  --city-saved-color: #081B25
  --text-color: #FFFFFB
  --dim-text-color-title: #637989
  --dim-text-color-forecast: #4E7EA1
  --shadow-color: rgba(0, 0, 0, 0.15)
  --button-color: #494949
  --phenomenon-color: #353361
  --serach-color: #8F9CA5
  --city-block-color: #152C39
  --country-color: #7B94A7
  --sun-color: radial-gradient(110.01% 103.2% at 8.71% 0.06%, #00C2FF 0%, #FF4BF8 100%)
  --sun-shadow: 0px 0px 77px rgba(47, 119, 159, 0.85)
  --icon-color: #6693AB
  --icon-active-color: #FF73B9

body
  font-family: 'Lato', Manrope, 'sans-serif'

  *, *::before, *::after
    box-sizing: border-box

input
  box-shadow: none
  font-family: inherit
  font-size: inherit
  line-height: inherit
  color: inherit
  outline: none
  margin: 0
  padding: 0
  margin: 0
  border: 0
  border: none
  background-color: transparent
  outline: none
  &:focus
    border: none
    outline: none

button
  min-width: 50px
  min-height: 50px
  padding: 0
  border: none
  font: inherit
  color: inherit
  background-color: transparent
  cursor: pointer
  transition: 200ms

.container
  padding-left: 30px
  padding-right: 30px

.designer-bio
  position: absolute
  z-index: 1
  top: 10px
  left: 10px
  color: var(--text-color)
  text-decoration: none
  font-weight: 300
  font-size: 12px
  opacity: 0.5

.sun
  border-radius: 50%
  background: var(--sun-color)
  box-shadow: var(--sun-shadow)
