// :root
//   --main-color: #3f3f3f
//   --text-color: #e2e2e2
//   --shadow-color: rgba(0, 0, 0, 0.15)
//   --button-color: #494949
//   --number-button-color: #ffffff54
//   --right-button-color: #ffc40065
//   --top-button-color: #ff00003f
//   --clicked-button-color: #00000056

// @font-face
//   font-family: "Lato"
//   src: url("./static/fonts/Lato-Regular.ttf") format("truetype")
//   src: url("./static/fonts/Lato-Regular.ttf?#iefix") format("truetype")
//   font-style: normal
//   font-weight: regular

body
  font-family: 'Lato', Manrope, 'sans-serif'

  *, *::before, *::after
    box-sizing: border-box

.icon
  width: 50px
  height: 50px

input[type="text"]
  font-family: inherit
  font-size: inherit
  line-height: inherit
  color: inherit
  outline: none
  margin: 0
  background-color: transparent

button
  min-width: 50px
  min-height: 50px
  padding: 0
  border: none
  font: inherit
  color: inherit
  background-color: transparent
  cursor: pointer
  transition: 200ms

.text-field
  width: 100%
  &__input
    display: block
    width: 100%
    padding: 0.375rem 1rem
    font-family: inherit
    font-size: 1rem
    font-weight: 400
    line-height: 1.5
    color: #212529
    border: none
    text-align: right
    letter-spacing: 1px
