:root
  --main-color: #FFFFFB
  --city-saved-color: #FFFFFB
  --text-color: #0B3656
  --dim-text-color-title: #637989
  --dim-text-color-forecast: #4E7EA1
  --shadow-color: rgba(0, 0, 0, 0.15)
  --button-color: #494949
  --phenomenon-color: #F2EFEC
  --serach-color: #8F9CA5
  --city-block-color: #FFFFFF
  --city-block-shadow: 0px 3px 35px rgba(208, 204, 190, 0.27)
  --country-color: #7B94A7
  --sun-color: radial-gradient(110.01% 103.2% at 8.71% 0.06%, #FFD074 0%, #FF3AB0 100%)
  --sun-shadow: 0px 4px 100px rgba(255, 94, 26, 0.4)
  --icon-color: #D2D2BE
  --icon-active-color: #0B3656
  --geo-title-color: #869DA4
  --setting-color: #5F89A9
  --city-saved-icons: url(#RadialGradientDark)

body
  font-family: 'Lato', Manrope, 'sans-serif'

  *, *::before, *::after
    box-sizing: border-box

#root
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden

select
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline
  background: transparent
  color: inherit
  &:focus
    border: none
    outline: none

input
  box-shadow: none
  font-family: inherit
  font-size: inherit
  line-height: inherit
  color: inherit
  outline: none
  margin: 0
  padding: 0
  margin: 0
  border: 0
  border: none
  background-color: transparent
  outline: none
  &:focus
    border: none
    outline: none

button
  min-width: 50px
  min-height: 50px
  padding: 0
  border: none
  font: inherit
  color: inherit
  background-color: transparent
  cursor: pointer
  transition: 200ms

.container
  padding-left: 30px
  padding-right: 30px
  height: 100%
  position: relative
  overflow-y: scroll
  overflow-x: hidden

.designer-bio
  position: absolute
  z-index: 1
  top: 10px
  left: 10px
  color: var(--text-color)
  text-decoration: none
  font-weight: 300
  font-size: 12px
  opacity: 0.5

.sun
  border-radius: 50%
  background: var(--sun-color)
  box-shadow: var(--sun-shadow)

.weather-phenomenon
  font-size: 16px
  line-height: 19px
  text-align: center
  padding: 7px 14px
  background-color: var(--phenomenon-color)
  border-radius: 40px
  height: min-content
  width: min-content

.data-string
  margin-top: 61px
  display: flex
  align-items: center
  justify-content: space-between
  & div
    display: flex
    align-items: center
    justify-content: space-between
    & img
      margin-right: 15px
